@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-fg #c4afcb;

@define-color wb-act-bg rgba(0, 0, 0, 0);
@define-color wb-act-fg #b4f9f8;

@define-color wb-hvr-bg rgba(0, 0, 0, 0);
@define-color wb-hvr-fg #cfc9c2;

